@using TheAncientMerch.Web.ViewModels.Articles
@model AllArticlesViewModel

@{
    this.ViewData["Title"] = "Destinations";
}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Articles/All">All articles</a></li>
        <li class="breadcrumb-item"><a href="/Articles/Categories">Article categories</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>


<div>
    <partial name="_SpecificCategoryPartial" model="@Model" />
</div>