@using TheAncientMerch.Common
@{
    this.ViewData["Title"] = "Home Page";
}



<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="display-4">Welcome <br>Stranger. </h1>
                <p class="lead my-4">
                     Learn and share about Greek Mythology with our Articles,discussions and Deity pages.

                     <br> Sale your sculptures that are associated with Greek or Rome Mythology. 
                  
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="devices pl-md-4 pt-5 pt-md-0">
                    <img src="https://greeking.me/media/k2/items/cache/a67e9d105d87a83c2081372f8c241cc4_L.jpg" alt="Example Navbar 1" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

